html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: linear-gradient(to right bottom, gold, chocolate);
    line-height: 1.3;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
}

img {
    width: 50px;
}

.section-one {
    position: fixed;
    width: 100px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow: hidden;
    transition: width .3s ease;
    cursor: pointer;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
    flex-direction: column;
    text-align: left;
}

.navigation-list-item {
    list-style-type: none;
    margin-bottom: 10px;
}

.section-one:hover {
    width: 250px;
}

.section-two {
    margin-left: 100px;
    border-color: black;
}

section {
    color: black;
    list-style-type: none;
}



/* body {
    font-family: "Roboto", sans-serif;
    display: flex;
    background-color: #151b29;
    color: white;
}

.navigator-wrapper {
    position: fixed;
    width: 100%;
    
    background-color: #263238;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.navigator-list {
    display: flex;
}

.navigator-list-item {
    list-style: none;
    padding: 24px 12px;
}

.link {
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.link:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
  }
  
  button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
  }
   */