html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: linear-gradient(to right bottom, gold, chocolate);
    line-height: 1.3;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
}

img {
    width: 50px;
    flex-direction: column ;
}

.section-one {
    position: fixed;
    width: 100px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow: hidden;
    transition: width .3s ease;
    cursor: pointer;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
    text-align: left;
}

.section-one:hover {
    width: 250px;
}

.navigator {
    display: flex;
    justify-content: space-around;
    position: fixed;
    flex-direction: column;
    flex-wrap:wrap;
}

.navigation-list-item {
    list-style-type: none;
    margin-bottom: 10px;
}

.section-two {
    margin-left: 100px;
    border-color: black;
}

button {
    background: none;
    color: white;
    border: 2px solid;
    padding: 0.5em 1em;
    font-size: 1em;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
  }
  
button:hover {
    border-color: #ca5017;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #ca5017;
    transform: translateY(-0.25em);
    cursor: pointer;
}

a {
    color: white;
    padding: 0.4em;
    margin: 00.5em;
    border: 2px solid;
    font-size: 1em;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

a:hover {
    border-color: #ca5017;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #ca5017;
    transform: translateY(-0.25em);
    cursor: pointer;
}
